<!DOCTYPE html>
<html>
  <head>
    <title>StatsCompareDatagrid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="main-navigation">
      <div class="navbar-header animated fadeInUp">
            <a class="navbar-brand" href="#">Fortnite Stats Compare</a>
      </div>
      <ul class="nav-list">
          <li class="nav-list-item">
              <a href="#" class="nav-link">Stats</a>
          </li>
          <li class="nav-list-item">
              <a href="#" class="nav-link">Friends</a>
          </li>
          <li class="nav-list-item">
              <a href="#" class="nav-link">FAQ</a>
          </li>
          <li class="nav-list-item">
              <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="">
                  <% if user_signed_in? %>
                    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-link" %>
                  <% end %>
              </div>
              <div class="">
                    <% if user_signed_in? %>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
                    <% end %>
              </div>
          </li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>








